[Unit]
Description=Hold until boot process finishes up
After=plymouth-start.service rc-local.service systemd-user-sessions.service
ConditionPathExists=/run/plymouth/pid

[Service]
ExecStart=-/bin/plymouth --wait
Type=oneshot
TimeoutSec=0
