[Unit]
Description=Terminate Plymouth Boot Screen
After=plymouth-start.service snapd.seeded.service
ConditionKernelCommandLine=snapd_recovery_mode=run
ConditionPathExists=/run/plymouth/pid

[Service]
ExecStart=-/bin/plymouth quit
ExecStartPost=-systemctl stop splash-client.service
Type=oneshot
TimeoutSec=20
